In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import math
import tensorflow as tf
import numpy as np
from numpy import unique
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import ModelCheckpoint, Callback, TensorBoard

In [2]:
data = pd.read_csv(r"C:\Users\49173\Desktop\Data\stockxf2.csv")
df = data.copy()

In [3]:
df

,productId,orderDate,salePrice,shoeSize,brand,sneakerName,colorway,retailPrice,releaseDate,salesThisPeriod,hype,days,collaboration
0,55a9ccfe-129a-438a-9989-b877c2a66279,2022-05-26,300,9.5,Jordan,Jordan 4 Retro Military Black,White/Black-Neutral Grey,210,2022-05-21,2476,10743,5,1
1,55a9ccfe-129a-438a-9989-b877c2a66279,2022-05-26,300,9.0,Jordan,Jordan 4 Retro Military Black,White/Black-Neutral Grey,210,2022-05-21,2476,10743,5,1
2,55a9ccfe-129a-438a-9989-b877c2a66279,2022-05-26,382,10.0,Jordan,Jordan 4 Retro Military Black,White/Black-Neutral Grey,210,2022-05-21,2476,10743,5,1
3,55a9ccfe-129a-438a-9989-b877c2a66279,2022-05-26,304,8.0,Jordan,Jordan 4 Retro Military Black,White/Black-Neutral Grey,210,2022-05-21,2476,10743,5,1
4,55a9ccfe-129a-438a-9989-b877c2a66279,2022-05-26,390,12.0,Jordan,Jordan 4 Retro Military Black,White/Black-Neutral Grey,210,2022-05-21,2476,10743,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
192880,3774e829-99f4-46d6-bb94-f9e19ad55ad3,2022-03-18,384,10.0,adidas,adidas Yeezy Boost 350 V2 Sesame,Sesame/Sesame/Sesame,220,2018-11-23,13,5366,1211,1
192881,3774e829-99f4-46d6-bb94-f9e19ad55ad3,2022-03-18,366,12.0,adidas,adidas Yeezy Boost 350 V2 Sesame,Sesame/Sesame/Sesame,220,2018-11-23,13,5366,1211,1
192882,3774e829-99f4-46d6-bb94-f9e19ad55ad3,2022-03-18,420,10.5,adidas,adidas Yeezy Boost 350 V2 Sesame,Sesame/Sesame/Sesame,220,2018-11-23,13,5366,1211,1
192883,3774e829-99f4-46d6-bb94-f9e19ad55ad3,2022-03-18,357,11.0,adidas,adidas Yeezy Boost 350 V2 Sesame,Sesame/Sesame/Sesame,220,2018-11-23,13,5366,1211,1
192884,3774e829-99f4-46d6-bb94-f9e19ad55ad3,2022-03-18,383,9.0,adidas,adidas Yeezy Boost 350 V2 Sesame,Sesame/Sesame/Sesame,220,2018-11-23,13,5366,1211,1

In [4]:
df['log_hype'] = np.log(df['hype']+1)
df['log_resalePrice'] = np.log(df['salePrice'])

In [5]:
df = df.drop(['productId', 
              'orderDate',
              'sneakerName',
              'colorway', 
              'releaseDate', 
              "hype", 
              'salePrice'],
              axis = 1)

In [6]:
df

,shoeSize,brand,retailPrice,salesThisPeriod,days,collaboration,log_hype,log_resalePrice
0,9.5,Jordan,210,2476,5,1,9.282103,5.703782
1,9.0,Jordan,210,2476,5,1,9.282103,5.703782
2,10.0,Jordan,210,2476,5,1,9.282103,5.945421
3,8.0,Jordan,210,2476,5,1,9.282103,5.717028
4,12.0,Jordan,210,2476,5,1,9.282103,5.966147
...,...,...,...,...,...,...,...,...
192880,10.0,adidas,220,13,1211,1,8.588024,5.950643
192881,12.0,adidas,220,13,1211,1,8.588024,5.902633
192882,10.5,adidas,220,13,1211,1,8.588024,6.040255
192883,11.0,adidas,220,13,1211,1,8.588024,5.877736
192884,9.0,adidas,220,13,1211,1,8.588024,5.948035

In [7]:
df2 = pd.get_dummies(df["brand"], prefix='brand')

In [8]:
df = df.drop(['brand'], axis = 1)

In [9]:
# df3 = pd.get_dummies(df["sneakerName"], prefix='SN')

In [10]:
# df = df.drop(['sneakerName'], axis = 1)

In [11]:
df

,shoeSize,retailPrice,salesThisPeriod,days,collaboration,log_hype,log_resalePrice
0,9.5,210,2476,5,1,9.282103,5.703782
1,9.0,210,2476,5,1,9.282103,5.703782
2,10.0,210,2476,5,1,9.282103,5.945421
3,8.0,210,2476,5,1,9.282103,5.717028
4,12.0,210,2476,5,1,9.282103,5.966147
...,...,...,...,...,...,...,...
192880,10.0,220,13,1211,1,8.588024,5.950643
192881,12.0,220,13,1211,1,8.588024,5.902633
192882,10.5,220,13,1211,1,8.588024,6.040255
192883,11.0,220,13,1211,1,8.588024,5.877736
192884,9.0,220,13,1211,1,8.588024,5.948035

In [12]:
df = df.join(df2)

In [13]:
# df = df.join(df3)

In [14]:
df

,shoeSize,retailPrice,salesThisPeriod,days,collaboration,log_hype,log_resalePrice,brand_Alexander McQueen,brand_BAPE,brand_Common Projects,...,brand_Jordan,brand_MSCHF,brand_New Balance,brand_Nike,brand_Puma,brand_Reebok,brand_Salomon,brand_Under Armour,brand_Vans,brand_adidas
0,9.5,210,2476,5,1,9.282103,5.703782,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,9.0,210,2476,5,1,9.282103,5.703782,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,10.0,210,2476,5,1,9.282103,5.945421,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,8.0,210,2476,5,1,9.282103,5.717028,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,12.0,210,2476,5,1,9.282103,5.966147,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192880,10.0,220,13,1211,1,8.588024,5.950643,0,0,0,...,0,0,0,0,0,0,0,0,0,1
192881,12.0,220,13,1211,1,8.588024,5.902633,0,0,0,...,0,0,0,0,0,0,0,0,0,1
192882,10.5,220,13,1211,1,8.588024,6.040255,0,0,0,...,0,0,0,0,0,0,0,0,0,1
192883,11.0,220,13,1211,1,8.588024,5.877736,0,0,0,...,0,0,0,0,0,0,0,0,0,1
192884,9.0,220,13,1211,1,8.588024,5.948035,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
dfnames = df.copy()
dfnames = dfnames.drop(['log_resalePrice'], axis = 1)

columns = dfnames.columns.tolist()
columns.insert(0, 'constant')
print(columns)

['constant', 'shoeSize', 'retailPrice', 'salesThisPeriod', 'days', 'collaboration', 'log_hype', 'brand_Alexander McQueen', 'brand_BAPE', 'brand_Common Projects', 'brand_Converse', 'brand_Crocs', 'brand_Jordan', 'brand_MSCHF', 'brand_New Balance', 'brand_Nike', 'brand_Puma', 'brand_Reebok', 'brand_Salomon', 'brand_Under Armour', 'brand_Vans', 'brand_adidas']

In [16]:
X = df.drop('log_resalePrice',axis =1).values
y = df['log_resalePrice'].values

#splitting Train and Test 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [17]:
s_scaler = StandardScaler()
X_train = s_scaler.fit_transform(X_train.astype(np.float))
X_test = s_scaler.transform(X_test.astype(np.float))

C:\Users\49173\AppData\Local\Temp\ipykernel_10352\2855883272.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_train = s_scaler.fit_transform(X_train.astype(np.float))
C:\Users\49173\AppData\Local\Temp\ipykernel_10352\2855883272.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_test = s_scaler.transform(X_test.astype(np.float))

In [18]:
# Multiple Linear Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train)
# evaluate the model (intercept and slope)
print(regressor.intercept_)
print(regressor.coef_)
# predicting the test set result
y_pred = regressor.predict(X_test)
# put results as a DataFrame
coeff_df = pd.DataFrame(regressor.coef_, df.drop('log_resalePrice', axis =1).columns, columns=['Coefficient'])

5.2543422294873885
[ 2.25967408e-02  1.89744845e-01  8.52454786e-04  1.18172460e-02
  1.07457851e-01  1.28420789e-01 -9.68446990e+08 -9.26375199e+08
 -9.23681747e+08 -1.30735706e+09 -2.64200726e+09 -1.22643785e+10
 -9.52888940e+08 -6.46562497e+09 -1.28862860e+10 -1.89931523e+09
 -1.13421142e+09 -3.53369685e+08 -9.73577455e+08 -9.01843108e+08
 -8.77256590e+09]

In [19]:
import statsmodels.api as sm
X2 = sm.add_constant(X_train)
est = sm.OLS(y_train, X2)
est2 = est.fit()
print(est2.summary(xname=columns))

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.342
Model:                            OLS   Adj. R-squared:                  0.342
Method:                 Least Squares   F-statistic:                     3508.
Date:                Mon, 20 Jun 2022   Prob (F-statistic):               0.00
Time:                        21:41:24   Log-Likelihood:                -62917.
No. Observations:              135019   AIC:                         1.259e+05
Df Residuals:                  134998   BIC:                         1.261e+05
Df Model:                          20
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
constant                    5.2545      0.001   5006.771      0.000       5.252       5.257
shoeSize                    0.0226      0.001     21.156      0.000       0.021       0.025
retailPrice                 0.1897      0.001    146.183      0.000       0.187       0.192
salesThisPeriod             0.0009      0.001      0.800      0.424      -0.001       0.003
days                        0.0118      0.001      9.719      0.000       0.009       0.014
collaboration               0.1074      0.002     67.560      0.000       0.104       0.111
log_hype                    0.1284      0.001    115.901      0.000       0.126       0.131
brand_Alexander McQueen    -0.0132      0.001    -11.925      0.000      -0.015      -0.011
brand_BAPE                  0.0157      0.001     14.914      0.000       0.014       0.018
brand_Common Projects      -0.0170      0.001    -14.270      0.000      -0.019      -0.015
brand_Converse             -0.0208      0.001    -19.652      0.000      -0.023      -0.019
brand_Crocs                -0.0146      0.001    -13.734      0.000      -0.017      -0.013
brand_Jordan               -0.0157      0.001    -17.478      0.000      -0.017      -0.014
brand_MSCHF                 0.0099      0.001      9.369      0.000       0.008       0.012
brand_New Balance           0.0173      0.001     17.076      0.000       0.015       0.019
brand_Nike                 -0.0054      0.001     -6.003      0.000      -0.007      -0.004
brand_Puma                  0.0143      0.001     13.691      0.000       0.012       0.016
brand_Reebok               -0.0077      0.001     -7.335      0.000      -0.010      -0.006
brand_Salomon               0.0113      0.001     10.756      0.000       0.009       0.013
brand_Under Armour          0.0045      0.001      4.290      0.000       0.002       0.007
brand_Vans                  0.0188      0.001     17.820      0.000       0.017       0.021
brand_adidas                0.0201      0.001     20.697      0.000       0.018       0.022
==============================================================================
Omnibus:                    29008.749   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           106963.652
Skew:                           1.049   Prob(JB):                         0.00
Kurtosis:                       6.823   Cond. No.                     1.74e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.1e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [20]:
#compare actual output values with predicted values
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [21]:
# evaluate the performance of the algorithm (MAE - MSE - RMSE)
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))  
print('MSE:', metrics.mean_squared_error(y_test, y_pred))  
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('VarScore:',metrics.explained_variance_score(y_test,y_pred))

MAE: 0.28686989720107103
MSE: 0.14979126890159544
RMSE: 0.3870287701212863
VarScore: 0.3412932385064056